{% extends "base.html" %}

{% block content %}
<div class="onboarding">
  <div class="container">
    <h2>{{ title }}</h2>
    <div class="col-md-8" id="content">
      <form>
        <div class="form-group">
          <label for="name-input">Name</label>
          <input type="text" class="form-control" id="name-input" name="name" placeholder="Ex: Jane Doe"
          {% if user %}
            value="{{user.name}}">
          {% end %}
        </div>
        <div class="form-group">
          <label for="start-up-name-input">Start-up Name</label>
          <input type="text" class="form-control" id="start-up-name-input" name="start_up_name" placeholder="Ex: Arc Studios"
          {% if user %}
            value="{{user.start_up_name}}">
          {% end %}
        </div>
        <div class="form-group">
          <label for="start-up-name-description">Start-up Description</label>
          <span id="helpBlock" class="help-block">Write a few sentences about your start-up here. This will help us later pair you with the best possible mentors and VCs</span>
          <textarea class="form-control" rows="3" placeholder="Ex: We make education based games for K-12.." name="start_up_description">{% if user %}{{user.start_up_description}}{% end %}</textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Start-up Tags</label>
          <span id="helpBlock" class="help-block">List a few comma seperated tags to help label your startup.</span>
          <textarea class="form-control" rows="3" placeholder="Ex: education, gaming, non-profit..." name="start_up_tags">{% if user %}{{user.start_up_tags}}{% end %}</textarea>
        </div>
        <button type="submit" class="btn btn-default account-submit" value="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% end %}

{% block scripts %}
<script>
    $(function(){
      $( "form" ).submit(function( event ) {
        event.preventDefault();
        $.ajax({
            url: "/edit",
            type: "POST",
            data: $("form").serialize(),
            success: function(data){
              alert("Account Successfully updated!")
              window.location.replace("/main");
            },
            error: function(data){
                alert("Updating account failed please try again");
            }
        });
      });
    });
</script>
{% end %}
