{% extends "base.html" %}

{% block content %}
<!-- features -->
<div class="features clearfix" >
	<h1>We Help You</h1>

	<div class="col-sm-4">
		<img class="feature-image" data-src="holder.js/140x140" alt="140x140" src="/static/assets/flat-ui/svg/clipboard.svg">
		<h2>Hypothesize</h2>
		<p>Test your intuition and ideas you have received during interviews empirically by creating a Lean Workbench hypothesis.</p>
	</div><!-- /.span4 -->
	<div class="col-sm-4">
		<img class="feature-image" data-src="holder.js/140x140" alt="140x140" src="/static/assets/smallicons/SVG/calc.svg">
		<h2>Measure</h2>
		<p>Automate the measurement of your key performance indicators for your experiment. </p>
        <a id="learn-more-button" class="btn btn-lg btn-primary" href="/learn" role="button">Learn More</a>
	</div><!-- /.span4 -->
	<div class="col-sm-4">
		<img class="feature-image" data-src="holder.js/140x140" alt="140x140" src="/static/assets/flat-ui/svg/compass.svg">
		<h2>Pivot or Persevere</h2>
		<p>Take a look at your data and the data of your cohort and decide how to proceed with your product.</p>
	</div><!-- /.span4 -->
</div>


<!-- supporters -->
<div class="supporters">
	<h1>Supported By:</h1>
	<img src="/static/img/idse.jpg" alt="Columbia Institute for Data Sciences and Engineering"></img>
	<h2>Columbia Institute for Data Sciences and Engineering</h2>
	<img src="/static/assets/nsf.png" alt="National Science Foundation">
	<h2>The National Science Foundation Award #1305023</h2>	
</div>
{% end %}
