{% extends "base.html" %}

{% block content %}
<div class="onboarding">
  <div class="container">
    <div class="col-md-12" id="content">

      <!-- section 1 -->
      <div class="row">
        <h2>The Science of Startups</h2>
        <p>
Steve Blank defines a startup an organization formed to search for a repeatable and scalable business model. The key activity of a startup is to search,  and for this we will quantitative guides, to help us understand if we are getting nearer or further from finding a repeatable and scalable business model.
        </p>
        <p>
This search doesn't have to be haphazard. Introducing metrics can help us bring engineering and scientific principles -- of optimization and hypotheses testing, respectively -- to guide the search. 
        </p>
      </div>
      <!-- end of section 1 -->

      <!-- section 2 -->
      <div class="row">
        <h2>Metrics that Matter</h2>
        <p>
For a company that has found its business model, the metrics are clear. They may be customer lifetime value (in dollars) for a subscription service, or average revenue per user (also in dollars) for a games company. For a startup, we may not even have revenue yet, but this doesn't mean we don't have metrics we can use to test hypotheses and to optimize. As examples we will consider in the Lean Workbench, we will focus on metrics of engagement. 
        </p>
      </div>
      <!-- end of section 2 -->

      <!-- section 3 -->
      <div class="row">
        <h2>Engagement and Growth</h2>
        <p>
Engagement does not have one definition, but we can start with things that are easily quantified. This includes web analytics for your site, which is easy to quantify and is likely to be correlated with other metrics you can also measure (e.g., marketing metrics). To that end we are going to start our lean journey with Google Analytics, a free tool which makes analytics simple even for first-time founders.
        </p>
      </div>
      <!-- end of section 3 -->

      <!-- section 4 -->
      <div class="row">
        <h2>The Workbench</h2>
        <p>
The Workbench is designed to balance operation and education. We will walk you though tools while also teaching how to put these tools to work to quantify, falsify hypotheses (about your product, your market, and the demands of the customers), and optimize growth.
        </p>
      </div>
      <!-- end of section 4 -->

      <!-- section 5 -->
      <div class="row">
        <h2>Find out more</h2>
        <p>
To find out more we encourage you to start with Steve Blank's <a href="http://steveblank.com/2010/01/25/whats-a-startup-first-principles/">first principles</a> post.
        </p>
      </div>
      <!-- end of section 5 -->

    </div>
  </div>
</div>
{% end %}
