{% extends "base.html" %}

{% block content %}
<!-- onboarding links -->
<div class="onboarding">
  <div class="container">
    <div class="col-md-12" id="content">
      <div class="jumbotron">
        <h1>Innovation Accounting</h1>
        <p class="lead">
Welcome to the Lean WorkBench (LWB)! LWB is an NSF-supported tool for founders, balancing operational and pedagogical tools. LWB will introduce you to tools to falsify hypotheses about your product-market fit and to optimize growth of your new startup.
        </p>
        <p>
          <a id="learn-more"
             class="btn btn-lg pull-right btn-success" href="/learn">
             Learn More
          </a>
        </p>
      </div>
      <div class="row">
        <h2>Website Creation and Analytics</h2>
        <p>You can use any of the following sites to create/launch websites for your startup:</p>
        <div class="panel-group" id="accordion">
	      <div class="panel panel-default">
		    <div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">LaunchRock: Most Recommended! <a href="https://www.launchrock.com/">[Visit]</a></a>
			  </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
			  <div class="panel-body">
                LaunchRock is a free, web based application that helps you set up a social “launching soon” page in minutes,
                share your page and start gathering emails.
                <ul>
                  <li>LaunchRock pages help incentivize and reward users for telling others about your project through email &
                their social networks via our built-in sharing tools.</li>
                  <li>LaunchRock helps you understand your potential customers and allows you to see useful information on user signups, site traffic, and demographics through the admin “Insights” tab.</li>
                  <li>LaunchRock helps you begin building a relationship with the customers you acquire through email.</li>
                </ul>
                <a href="https://www.quora.com/Whats-LaunchRock-all-about"><small>Source</small></a>                 
			  </div>
		    </div>
	      </div>
	      <div class="panel panel-default">
		    <div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Launch Effect (Wordpress Theme)<a href="http://launcheffectapp.com/">[Visit]</a></a>
			  </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
                Launch Effect (Wordpress Theme)
			  </div>
		    </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Unbounce<a href="http://unbounce">[Visit]</a></a>
			  </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
                Unbounce
			  </div>
		    </div>
	      </div>
          <div class="panel panel-default">
	        <div class="panel-heading">
			  <h4 class="panel-title">
			    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">KickoffLabs<a href="http://www.kickofflabs.com/">[Visit]</a></a>
			  </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse">
			  <div class="panel-body">
                KickoffLabs
			  </div>
		    </div>
	      </div>
          <div class="panel panel-default">
	        <div class="panel-heading">
		      <h4 class="panel-title">
			    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">QuickMVP<a href="http://quickmvp.com">[Visit]</a></a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse">
		      <div class="panel-body">
                QuickMVP
		      </div>
		    </div>
	      </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h2>Mentor Matcher</h2>
      <it>Coming Soon!</it>
      <p>
        We can help you find mentors (based on domain of expertise and connections) who can advise your team!
      </p>
      <a class="btn btn-lg btn-primary" href="javascript:void(0);" role="button">Find Mentors!</a>
    </div>

    <div class="col-md-12">
      <h2>VC Matcher</h2>
      <it>Coming Soon!</it>
      <p>
        We can help you find VCs that have invested in startups whose products are similar to yours!
      </p>
      <a class="btn btn-lg btn-primary" href="javascript:void(0);" role="button">Find Mentors!</a>
    </div>

  </div>
</div>

{% end %}
