{% extends "base.html" %}

{% block content %}
<!-- onboarding links -->
<div class="onboarding">
  <div class="container">
    <div class="col-md-12" id="content">
      <div class="jumbotron">
        <h1>Innovation Accounting</h1>
        <p class="lead">
          The Lean methodology defines its own accounting -- Innovation Accounting -- with separate
          analyses appropriate to different points in the life-cycle of a business hypothesis:
          baseline quanitifcation, optimization, and pivoting.
        </p>
        <p>
          <a class="btn btn-lg btn-success" href="javascript:void(0);"
             onclick="javascript:introJs().start();">
            Get started today
          </a>
        </p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Virality Engine</h2>
          <p data-step="1" data-intro="Find out who is talking about your product and why. The key performance indicator is <u>viral coefficient</u>, the number of users each user brings on.">
            Connect to Facebook and Twitter
          </p>
          <a class="btn btn-lg btn-primary" href="javascript:void(0);" role="button">Setup!</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Google Analytics</h2>
          <p data-step="2" data-intro="Track referral analytics and what not!">
            Connect to Google Analytics Platform!
          </p>
          <a class="btn btn-lg btn-primary" href="javascript:void(0);" role="button">Setup!</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% end %}
