{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="col-md-12">
    <form class="form-horizontal" method="post">
      <fieldset>

        <!-- Form Name -->
        <legend><h2>Website Creator</h2></legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="companyname">Company Name</label>  
          <div class="col-md-4">
            <input id="companyname" name="companyname" type="text" placeholder="Company Name" class="form-control input-md">
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="companyshortdesc">Company Short Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="companyshortdesc" name="companyshortdesc"></textarea>
          </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="templatetype">Website Template Type</label>
          <div class="col-md-4"> 
            <label class="radio-inline" for="templatetype-0">
              <input type="radio" name="templatetype" id="templatetype-0" value="Default" checked="checked">
              Default
            </label>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submitbutton"></label>
          <div class="col-md-4">
            <input type="submit" class="btn btn-success" value="Create" />
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
{% end %}
